html,
body {
  overflow: auto;
  margin: 0;
  padding: 0;
}
body {
  background: rgb(247, 206, 104);
  background: radial-gradient(
    circle,
    rgba(247, 206, 104, 1) 0%,
    rgba(251, 171, 126, 1) 100%
  );
  font-family: lato, arial, sans-serif;
}
#navbar {
  display: flex;
  margin: 0;
  width: 100%;
  background: white;
  justify-content: center;
}
#navbar h1 {
  color: rgba(251, 171, 126, 1);
  background: linear-gradient(
    to right,
    rgba(251, 171, 126, 1),
    rgba(247, 206, 104, 1)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#container {
}
#btn-container {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
  width: 100%;
  flex-direction: row;
  position: relative;
  box-shadow: 0 20px 30px rgba(120, 120, 120, 0.1);
}
label,
button,
input {
  margin-bottom: 25px;
}
button {
  margin-left: 20px;
  padding: 10px;
}
input {
  margin-left: 5px;
  width: 3em;
}

#grid {
  display: grid;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 120px;
  border: 1px solid rgb(200, 200, 200);
  box-shadow: 0 20px 20px rgba(255, 255, 255, 0.3);
}

.grid-boxes {
  background: white;
  border: 0.2px dotted rgb(200, 200, 200);
}
