html,
body {
  box-sizing: border-box;
  overflow: auto;
  margin: 0;
  padding: 0;
  color: #464646;
}
body {
  background: rgb(250, 255, 103);
  font-family: lato, arial, sans-serif;
  background: radial-gradient(
    circle,
    rgb(250, 255, 103) 0%,
    rgb(255, 229, 96) 100%
  );
}
main {
  box-sizing: border-box;
  border: 20px solid white;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  align-items: center;
}
#title-pg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: rgba(255, 255, 255, 1);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(240, 240, 240, 1) 100%
  );
  transition: all 600ms linear;
}
#title-pg.shrink {
  height: 0;
}
#title {
  font-size: 80px;
  margin: 0;
  text-align: center;
}
#title span {
  opacity: 0;
  transition: all 200ms ease;
}
#title span.fade-in {
  opacity: 1;
}
#title.grow {
  animation-name: grow;
  animation-duration: 900ms;
  animation-timing-function: linear;
  animation-delay: 330ms;
}
@keyframes grow {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
#title.shrink {
  animation-name: bounce;
  animation-timing-function: ease-out;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(170px);
  }
  100% {
    transform: translateY(120px);
  }
}
#btn-container {
  margin-right: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.btn {
  margin-bottom: 25px;
}
.btn {
  box-sizing: border-box;
  padding: 0.8em 0.9em;
  border-radius: 0.5em;
  color: white;
  background-color: #fc8eac;
  height: 3em;
  width: 100px;
  text-align: center;
  transition: all 300ms ease-out;
}
.btn:hover {
  cursor: pointer;
  box-shadow: 8px 8px 0 0 white;
  transform: translate(-8px, -8px);
}
.btn:active {
  filter: brightness(0.9);
}
#grid-input {
  background: #4787ff;
  border-radius: 20px 0.5em 0.5em 20px;
  padding-left: 20px;
  color: white;
  box-shadow: 10px 10px 0 0 white;
  margin-bottom: 35px;
}
input[type="number"] {
  color: #464646;
  margin-left: 15px;
  width: 5em;
  height: 40px;
  border-radius: 0.5em;
  border: 2px solid rgba(149, 199, 255, 0.5);
  text-align: center;
}
input[type="number"],
textarea {
  background-color: white;
}
#grid {
  display: grid;
  width: 500px;
  height: 500px;
  border: 5px solid #0c7eff;
}
.grid-boxes {
  background: white;
  border: 0.2px dotted rgb(200, 200, 200);
  border-radius: 3px;
}
@media screen and (max-width: 950px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 500px 1fr;
    place-items: center;
  }
  #grid {
    grid-row: 2/3;
  }
  #btn-container {
    grid-row: 3/4;
    flex-direction: row;
    justify-content: center;
    margin-right: 0;
  }
  .btn,
  #grid-input {
    margin-right: 25px;
  }
}
